.Layout{
    background-color: black;
}
.Layout-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Layout-list{
    gap: 10px;
    display: flex;
    align-items: center;
}
.Layout-text{
    color: #FFFF;
    font-size: 20px;
}
.Layout-img{
    width: 20px;
    height: 20px;  
}
.Layout-option{
    height: 20px;
    background-color: black;
    
}
.Layout-select{
    color: #FFFF;
    border: none;
    background: transparent;
    border-radius: 5px;
    height:20px;
    font-size: 17px;
}
.Layout-middle{
    display: flex;
    align-items: center;
}