.Navbar-list{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
.Navbar-link{
    text-decoration: none;
    font-family: Noto Sans,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-align: center;  
}
.navbar-img{
    width: 740px;
    height: 600px;   
}
.navbar-list{
    list-style: none;
    justify-content: center;
    display: flex;
}
.navbar-title{
    width: 600px;
    height: 150px;
    font-family: Noto Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}